@{
    ViewBag.Title = "DataForecast.io";
}
<div class="container-fluid standard-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <label id="fileLabel" for="files" class="btn btn-blue btn-larger">Select File</label>
                <input id="files" multiple type="file">
                <a id="read-file" class="btn-larger btn btn-grey">Read File</a>

                <label class="checkbox-div">
                    Does data contain ID's?
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <div id="byte_content"></div>

            </div>

        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            var $files = $('#files');
            
            // Get an array of files from the select file input button
            $files.on("input",
                function () {         
                    fileList = $files[0].files;
                    // Set the html text of the box to the name of the files
                    var string = "";
                    for (var i = 0; i < fileList.length; i++) {
                        string = string + fileList[i].name + ", ";
                    }
                    $("#fileLabel").html(string);                    
                });

            var stepped = 0, chunks = 0, rows = 0;
            var start, end;
            var pauseChecked = false;
            var printStepChecked = false;

            $('#read-file').click(function () {
                stepped = 0;
                chunks = 0;
                rows = 0;

                var config = buildConfig();

                // NOTE: Chunk size does not get reset if changed and then set back to empty/default value
                /*
                if (localChunkSize)
                    Papa.LocalChunkSize = localChunkSize;
                if (remoteChunkSize)
                    Papa.RemoteChunkSize = remoteChunkSize;
                    */


                if (fileList.length > 0) {
                    /*
                     * TODO chunking files longer than 10 MB
                    if (!$('#stream').prop('checked') && !$('#chunk').prop('checked')) {
                        for (var i = 0; i < files.length; i++) {
                            if (files[i].size > 1024 * 1024 * 10) {
                                alert("A file you've selected is larger than 10 MB; please choose to stream or chunk the input to prevent the browser from crashing.");
                                return;
                            }
                        }
                    }
                    */

                    var logFile = {
                        test : "aapnootmies"
                    }

                    // Start timer
                    start = performance.now();
                    

                    $files.parse({
                        config: config,
                        before: function (file, inputElem) {
                            console.log("Parsing file:", file);
                        },
                        complete: function () {
                            end = performance.now();
                            console.log("Time spend: ", end - start)
                            console.log("Done with all files.");
                            // Logging the request in forecast API
                            $.ajax({
                                url: "/api/log",
                                method: "POST",
                                data: logFile
                            });
                        }
                    });
                };
            });


            function buildConfig() {               
                return {
                    download: false,
                    delimiter: "",
                    newline: "",
                    header: false,
                    dynamicTyping: false,
                    preview: 0,
                    step: false,
                    encoding: "",
                    worker: false,
                    comments: false,
                    complete: completeFn,
                    error: errorFn,
                    download: false,
                    fastMode: false,
                    skipEmptyLines: false,
                    chunk: undefined,
                    beforeFirstChunk: undefined,
                };

            }

            function errorFn(error, file) {
                console.log("ERROR:", error, file);
            }

            function completeFn(results) {
                
                if (results.data && results.data.length > 0)
                    rows = results.data.length;

                console.log("Result: ", results);   
                console.log("Data: ", results.data)
                console.log("Rows:", rows, "Stepped:", stepped, "Chunks:", chunks);

                $.ajax({
                    data: results.data,
                    type: 'POST',
                    url: 'http://127.0.0.1:5000/process',
                    success: function () {
                        alert("ging goed");
                    },
                    error: function () {
                        alert("ging fout");
                    }
                }).done(function (data) {
                    alert(data.error);
                });
            }








            function chunkFn(results, streamer, file) {               
                if (!results)
                    return;
                chunks++;
                rows += results.data.length;

                parser = streamer;


                if (printStepChecked)
                    console.log("Chunk data:", results.data.length, results);

                if (pauseChecked) {
                    console.log("Pausing; " + results.data.length + " rows in chunk; file:", file);
                    streamer.pause();
                    return;
                }
            }

            
            function stepFn(results, parserHandle) {
                stepped++;
                rows += results.data.length;

                parser = parserHandle;

                if (pauseChecked) {
                    console.log(results, results.data[0]);
                    parserHandle.pause();
                    return;
                }

                if (printStepChecked)
                    console.log(results, results.data[0]);
            }

           /* $('#form').submit(function () {
                $.ajax({
                    data: {
                        name: $('#nameInput').val(),
                        email: $('#emailInput').val()
                    },
                    type: 'POST',
                    url: 'http://127.0.0.1:5000/process'
                }).done(function (data) {
                    alert("aap");
                    if (data.error) {
                        $('#errorAlert').text(data.error).show();
                        $('#successAlert').hide();
                    }
                    else {
                        $('#successAlert').text(data.name).show();
                        $('#errorAlert').hide();
                    }

                });

                event.preventDefault();
                return false;
            });
            */
            
          

          /* $("#read-file").on("click",
                function () {                   
                    if (file == null) {
                        return;
                    }
                    var fileSize = file.size;

                    var $button = $(this);

                    // Reset content
                    $("#byte_content").html("");

                    // Parameters are file and chunksize
                    var lineReader = new LineReader(file, 1024);

                    // Event gets an array of full lines from the data
                    lineReader.on("lines",
                        function (lines) {
                            console.log(lines.length);
                            for (var line = 0; line < lines.length; line++) {
                                console.log(lines[line]);
                            };
                        });

                    lineReader.read();
                });
                */
                
        });

    </script>
}